body{
    background-color: rgba(236, 0, 0, 0.233);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(2, 0, 107);
    margin: 0;
}

.titulo{
    margin-left: 20%;
}

.box{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin: 10px;
    width: 10%;
    border-radius: 10px;
    text-align: justify;
    color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-shadow: 04px 8px 5px rgb(0, 0, 0);
    font-size: 13px;
}

/* animacion*/
.box:active 
{
    box-shadow: none;
}

/* boton*/
.box:hover 
{
    cursor: pointer;
}