body{
    background-color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    margin: 0;
}

header{
    background-image: url(https://img.asmedia.epimg.net/resizer/v2/FPABM77BJZHSTPYIIVZ7ZHDK4A.jpg?auth=bab7504220391af61b565ac2cddc9051f4f1979710e7a6cb8000913cd3d2e80a&width=360&height=203&smart=true);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;

}

nav{
    background-color: rgb(45, 48, 48);
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

nav a{
    text-decoration: none;
}

nav a:hover{
    background-color: rgb(235, 64, 12);
    width: 10%;
    height: 50%;
    border-radius: 6px;
}

.container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.box{
    background-color: rgb(77, 76, 76);
    padding: 20px;
    margin: 10px;
    width: 45%;
    border-radius: 10px;
    text-align: justify;
    color: rgb(255, 60, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-shadow: 04px 8px 5px rgb(235, 64, 12);
    font-size: 19px;
}

/* animacion*/
.box:active 
{
    box-shadow: none;
}

/* boton*/
.box:hover 
{
    cursor: pointer;
}

img{
    margin-top: 4%;
    margin-left: 38%;
}

footer{
    background-color: rgb(66, 66, 66);
    color: rgb(255, 255, 255);
    padding: 10px;
    position: fixed;
    bottom:0;
    width: 100%;
    text-align: center;
    border-top: 5px solid  rgb(235, 64, 12);
}